body {
	background-color: #f8f8f8;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.form-signinUp {
	margin: 0 auto;
	margin-top: 8em;
}

.mr-zero {
	margin: 0em;
}

.text-bold {
	font-weight: bold;
}

.table-responsive {
	overflow:hidden;
}
