body {
	background-color: #f8f8f8;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.form-signinUp {
	margin: 0 auto;
	margin-top: 10em;
}

.padding-left-zero {
	padding-left: 0em;
}

.text-align-right {
	text-align: right;
}